/* ==========================================================================
   #WRAPPER
   ========================================================================== */

/**
 * Page-level constraining and wrapping elements.
 */

$inuit-wrapper-width: 1270px !default;

@if (type-of($inuit-wrapper-width) != number) {
  @error "`#{$inuit-wrapper-width}` needs to be a number.";
}

.o-wrapper {

    @media (min-width: 320px){
        padding-right: 24px;
        padding-left:  24px;
    } 
    @media (min-width: 720px){
        padding-right: 32px;
        padding-left:  32px;
    }
    @media (min-width: 840px){
        padding-right: 40px;
        padding-left:  40px;
    }
    @media (min-width: 960px){
        padding-right: 48px;
        padding-left:  48px;
    }
    @media (min-width: 1024px){
        padding-right: 56px;
        padding-left:  56px;
    }
    @media (min-width: 1280px){
        padding-right: 64px;
        padding-left:  64px;
    }

  @include inuit-clearfix();
  margin-right: auto;
  margin-left:  auto;
  max-width: $inuit-wrapper-width;

  &.-two { 
    max-width: 1012px;
    padding: 0 24px;
    width: 100%;
  }
    &.-cards{ 
    max-width: 1153px;
    width: 100%;
  }
    &.-sections { 
    max-width: 872px;
  }

  &.-form {
    max-width: 716px;
    padding-bottom: 64px;
    padding-top: 64px;
    background-color: white;
     text-align: left;
  }

  &.-contactInfo {
    background-color: $bgOne;
  }


}
