/* --  1st Level Footer: Tips with button link -- */ 
.c-footer_tips {
    background-color: $bgThree; 
    padding: 56px 0;
    .o-layout__item:first-child {
         @media (max-width: 960px){
             margin-bottom: 20px;
         }
    }
}

/* --  2nd Level Footer: Contact information -- */ 
.c-footer_contact {
    background-color: $bgFour;
    padding: 56px 0;
    margin-bottom: 20px;

    img {
        color: red;
    }

    .o-layout__item {
        @media (max-width: 1024px){
             margin-bottom: 20px;
         }
    }
    
}

/* -- 3rd Level Footer: Navigation menu for appointments and Copyright -- */  
.c-footer_links {

    white-space: inherit;
    &.o-copyright {
        margin:0;
        padding: 0;
    }
    p {
        @media (min-width: 1280px){
            text-align: right;
        }
        font-size: 13px;
         margin-bottom: 16px;
    }
    // Hide nav menu at lowRes
    #footer_links-menu  {
         @media (max-width: 1280px) {
            display: none;
         }
         .o-layout__item {
            padding-left: 16px;
         }
           
    }

    a {
        font-size: 16px;
        position: relative;

            /* Links underline animation on Hover: right to left */
            &:before {
              content: "";
              position: absolute;
              width: 0;
              height: 2px;
              bottom: -2px;
              right: 0;
              background-color: black;
              visibility: hidden;
              transition: all 0.3s ease-in-out;
            }
            &:hover:before {
              visibility: visible;
               width: 100%;
            
            }
    }
    
}