
/* -- Header banner: cover image & title-- */

.c-banner {


    /* Home banner */
    .c-banner-home {

      position: relative;
      background-size: cover;
      //background-position: center;
    
      @media (min-width: 320px){
      height: 250px;
      } 
      @media (min-width: 400px){
      height: 250px;
      }
      @media (min-width: 480px){
      height: 300px;
      }
      @media (min-width: 600px){
      height: 375px;
      }
      @media (min-width: 720px){
      height: 400px;
      }
      @media (min-width: 840px){
      height: 600px;
      }
      @media (min-width: 960px){
      height: 679px;
      }
      @media (min-width: 1024px){
      height: 723px;
      }
      @media (min-width: 1280px){
      height: 768px;
      }
    }
    .c-banner-page {

        position: relative;
        background-size: cover;
        background-position: center;
    
        @media (min-width: 320px){
        height: 250px;
        } 
        @media (min-width: 400px){
        height: 250px;
        }
        @media (min-width: 480px){
        height: 300px;
        }
        @media (min-width: 600px){
        height: 375px;
        }
        @media (min-width: 720px){
        height: 400px;
        }
        @media (min-width: 840px){
        height: 473px;
        }
        @media (min-width: 960px){
        height: 473px;
        }
        @media (min-width: 1024px){
        height: 473px;
        }
        @media (min-width: 1280px){
        height: 473px;
        }
    }

    .c-banner-title {
        position: absolute;
        transform: translate(0%,-50%);
        top: 50%;
    }

}

/* --1st Header bar: phone & email -- */
.c-second-menu {
    @media (min-width: 960px){
       display: block;
    }

    display: none;
    text-align: right;
    background-color: $bgZero;
    .c-second-menu_ul {
    height: 48px;
    margin-bottom: 0;
    padding: 6px 0;
    li {
        position: relative;
        margin-right: 64px;
        display: inline-block;
        p {
            margin-bottom: 0;
        }
        a {
            text-decoration: none;
            color: $ftZero;
            letter-spacing: 0.3px;
        }
        &:last-child {
            margin-right: 0px;


            /* Mail underline animation on Hover */
            &:after {
              content: "";
              position: absolute;
              width: 100%;
              height: 2px;
              bottom: 4px;
              left: 0;
              background-color: white;
              visibility: hidden;
              -webkit-transform: scaleX(0);
              transform: scaleX(0);
              -webkit-transition: all 0.3s ease-in-out 0s;
              transition: all 0.3s ease-in-out 0s;
            }
            &:hover:after {
              visibility: visible;
              -webkit-transform: scaleX(1);
              transform: scaleX(1);
            }

        }



        &:before {
            position: absolute;
            content: "";
            width: 27px;
            height: 32px;
            background: $icons_sprite;
            left: -30px;
            top: 0;
        }

        &:nth-child(1) {
             &:before {
              content: none;
              }
        }
        &:nth-child(2) {
           &:before {
            background-position: -811px -20px;
        }
         }
        &:nth-child(3) {
           &:before {
            background-position: -846px -12px;
         }



        }

       
}
}
}
/* -- Header pages navigation menu-- */
.c-main-menu {

    display: none;
    @media (min-width: 960px){
       display: block;
   }

   position: absolute;
   width: 100%;
   z-index: 1;
       .c-main-menu-wrap {
        display: flex;
        .c-header-logo {
            margin-right: auto;
            padding: 32px 0;

        }
        .c-header-logo,
        .c-main-menu_navigation {
            flex: 0 auto;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            width: auto;
            .c-main-menu_ul {
                margin-bottom: 0;
                li {
                    margin-right: 88px;
                    display: inline-block;
                    a {
                        position: relative;
                        text-decoration: none;
                        color: $ftZero;
                        
                        /* Links underline animation on Hover */
                        &:before {
                          content: "";
                          position: absolute;
                          width: 100%;
                          height: 2px;
                          bottom: -2px;
                          left: 0;
                          background-color: white;
                          visibility: hidden;
                          -webkit-transform: scaleX(0);
                          transform: scaleX(0);
                          -webkit-transition: all 0.3s ease-in-out 0s;
                          transition: all 0.3s ease-in-out 0s;
                        }
                        &:hover:before {
                          visibility: visible;
                          -webkit-transform: scaleX(1);
                          transform: scaleX(1);
                        }

                    }
                    &:last-child {
                     margin-right: 0px;
                 }
             }
         }

     }

    }
}
/* -- Header services navigation menu-- */
.c-services{


    @media (min-width: 320px){
        margin-top: 24px;
    } 
    @media (min-width: 400px){
        margin-top: 29px;
    }
    @media (min-width: 480px){
        margin-top: 34px;
    }
    @media (min-width: 600px){
        margin-top: 39px;
    }
    @media (min-width: 720px){
        margin-top: 44px;
    }
    @media (min-width: 840px){
        margin-top: -187.7px;
    }

    z-index: 1;
    margin: 0 auto;
    position: relative;
    @include section-margin;

    .c-services_navigation {
        .o-wrapper { padding: 0; }
        @media (min-width: 320px){
            padding: 54px 24px;
        } 
        @media (min-width: 400px){
            padding: 54px 29px;
        }
        @media (min-width: 480px){
            padding: 54px 34px;
        }
        @media (min-width: 600px){
            padding: 54px 39px;
        }
        @media (min-width: 720px){
            padding: 54px 44px;
        }
        @media (min-width: 840px){
            padding: 54px 49px;
        }
        @media (min-width: 960px){
            padding: 54px;
        }

        @media (min-width: 1024px){
            padding-right: 59px;
            padding-left:  59px;
            padding: 64px;
        }
        @media (min-width: 1280px){
            padding: 80px;
        }


        border-radius: 15px;
        background-color: $bgOne;
        flex: 0 auto;
        position: relative;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: auto;
        .c-services_ul {
            margin-bottom: 0;
            list-style-type: none;
            .slick-slide  {  
                padding-top: 90px;
                position: relative;
                li {

                    display: inline-block;
                    a {
                        text-decoration: none;
                        color: $ftTwo;
                        text-transform: uppercase;
                        padding: 5px 50px 5px 5px;
                        border: solid 1px transparent;
                        position: relative;

                        /* Links underline animation on Hover */
                        &:before {
                          content: "";
                          position: absolute;
                          width: 100%;
                          height: 2px;
                          bottom: 0;
                          left: 0;
                          background-color: $ftTwo;
                          visibility: hidden;
                          -webkit-transform: scaleX(0);
                          transform: scaleX(0);
                          -webkit-transition: all 0.3s ease-in-out 0s;
                          transition: all 0.3s ease-in-out 0s;
                        }
                        &:hover:before {
                          visibility: visible;
                          -webkit-transform: scaleX(1);
                          transform: scaleX(1);
                        }

                    }
                    &:last-child {
                     margin-right: 0px;
                 } 
             } 
             /* Services icons */
             &:before {
                position: absolute;
                content: "";
                width: 60px;
                height: 59px;
                background: $icons_sprite;
                left: 24px;
                top: 0;  
            }
             /* Sans rendez-vous */
            &:nth-child(1) {
                &:before {
                    background-position: -3px 0;
                }
            }
             /* Rendez-vous avec votre medecin */
            &:nth-child(2) {
                &:before {
                    background-position: -79px 0;
                }
            }
            /* Trouver un medecin */
            &:nth-child(3) {
                &:before {
                    background-position: -150px 0;
                }
            }
        }
    }
     /* Header services navigation menu | Shadow */
    &:after{
        position: absolute;
        content: "";
        height: 50%;
        z-index: -1;
        width: 100%;
        left: 0;
        bottom: 0;
        box-shadow: 0 18px 38px rgba(207,207,207,0.5);
        border-radius: 15px;
    }

}
}

/* --Mobile navigation menu-- */


/* Style the navigation menu */
.c-mobile-nav {
  overflow: hidden;
  background-color: #F5F8FF;
  position: relative;

  display: none;
  @media (max-width: 960px){
    display: block;
}

img {
    width: 138px;
}
}


.c-mobile-nav {
  overflow: hidden;
  background-color: #F5F8FF;
  position: relative;
  padding: 10px;

  display: none;
  @media (max-width: 960px){
    display: block;
}

img {
    width: 138px;
}
}

/* Hide the links inside the navigation menu (except for logo/home) */
.c-mobile-nav #myLinks {
  display: none;
}

/* Style navigation menu links */
.c-mobile-nav a {
  color: black;
  //padding: 0 16px;
  text-decoration: none;
  font-size: 18px;
  display: block;


  &:hover {
    background-color: $bgThree;
    color: black;
  }

        // &:nth-child(1) {
        //    padding-left: 40px;
        //    position: relative;
        //    &:before {
           
        //     position: absolute;
        //     content: "";
        //     width: 27px;
        //     height: 32px;
        //     background: $icons_sprite;
        //     left: 13px;
        //     top: -1px;
        //     background-position: -811px -20px;
        //    }
        //  }
        // &:nth-child(2) {
        //    position: relative;
        //    padding-left: 40px;
        //    &:before {
        //     position: absolute;
        //     content: "";
        //     width: 27px;
        //     height: 32px;
        //     background: $icons_sprite;
        //     left: 10px;
        //     top: -10px;
        //     background-position: -846px -12px;
        //  }
        // }
  


}

/* Style the hamburger menu */
.c-mobile-nav a.icon {
    background: #F5F8FF;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px 16px;
    font-size: 20px;
}

/* Add a grey background color on mouse-over */
.c-mobile-nav a:hover {
  //background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
 .c-mobile-nav {

  .active {
    //background-color: $bgZero;
    display: inline !important;
    padding-left: 15px;

    &.languageSwitch {
      position: absolute;
      right: 0;
      padding-right: 165px;
      padding-left: 0;

        @media (max-width: 510px){
           padding-right: 60px;
        }
    }

     &.phone {
         @media (max-width: 510px){
          display: none !important;
          }
              margin-right: 134px;
              position: relative;
              float: right;

               &:before {
                  position: absolute;
                  content: "";
                  width: 27px;
                  height: 32px;
                  background: $icons_sprite;
                  left: 13px;
                  top: 9px;
                  background-position: -811px -20px;
               }
     }

     &.email {
          @media (max-width: 510px){
          display: none !important;
          }
              position: relative;
              margin-right: 75px;
              float: right;

             &:before {
                position: absolute;
                content: "";
                width: 27px;
                height: 32px;
                background: $icons_sprite;
                left: 10px;
                top: 0;
                background-position: -846px -12px;
           }
     }
  }
}


#myLinks {
  
 padding-left: 15px;
 padding-top: 15px;
   a {  padding-bottom: 10px;}

   
  #phoneLink {
        @media (min-width: 510px){
        display: none !important;
        }
           padding-left: 30px;
           position: relative;
           
         &:before {
             
              position: absolute;
              content: "";
              width: 27px;
              height: 32px;
              background: $icons_sprite;
              left: 3px;
              top: 3px;
              background-position: -811px -20px;
             }
  }
    #emailLink {
        @media (min-width: 510px){
        display: none !important;
        }

          position: relative;
          padding-left: 30px;
         
           &:before {
            position: absolute;
            content: "";
            width: 27px;
            height: 32px;
            background: $icons_sprite;
            left: 2px;
            top: -3px;
            background-position: -846px -12px;
         }
  }
  a {
    position: relative;
    padding-top: 10px;
  }

  a:hover:before {
     background: #399CC3 !important;
  }
  a:hover:after {
     background: #399CC3;
  }
  a:after {
     background: transparent;
     height: 56px;
     width: 120px;
     position: absolute;
     content: "";
     top: 0;
     left: 100%;
  }
  a:before {
     background: transparent;
     height: 56px;
     width: 120px;
     position: absolute;
     content: "";
     top: 0;
     left: -120px;
  }
  a:hover div {
     background: #399CC3;;
  }
  a div {
     background: transparent;
     height: 56px;
     width: 120px;
     position: absolute;
     content: "";
     left: -120px;
     top: 0;
  }
  #emailLink:before {
     top: 50%;
     margin-top: -16px;
  }
    #phoneLink:before {
     top: 50%;
     margin-top: -16px;
  }

}