/* -- Home page: content -- */
.c-section{
  text-align: center;


  &.-content.-homeHeader {
     @include section-padding-bottom;
  }
  &.-content.-aboutHeader {
     @include section-padding-top;
  }

  &.-partners{
    @include section-padding-top;
    @include section-padding-bottom;
      background-color: $bgOne;

      .c-partners-content {
          padding-bottom: 104px;

      }
  }
}

/* -- Home page: partners logo centering -- */
#ul-partners-logos {
    li {
        img {
            margin: 0 auto;
        }
    }

    .slick-next {
        right:0;
    }
}


/* -- About page: content -- */
#sectionsBio {
    @include section-margin;
}

#mobile-sectionBio {
    @media (max-width: 960px){
       width: 68% !important;
    }
}
#mobile-sectionBioDiv {
    @media (max-width: 960px){
       margin:0 !important;
    }
    
}

/* Biography section */
.c-section.-content.-bio {
    text-align: center;
    background: $bgOne;
    @include section-padding;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
/* Biography text box */
.c-bio {
    width: calc(100% + 50%);
    margin: 72px 0;
    z-index: 10;
    position: relative;
    background: white;
    padding: 48px 50px;
    text-align: left;
}
/* Biography image */
.c-bio-image {
    background-size: cover !important;
    background-position: center;
}

.c-tabs-titles {
    .slick-prev {
       left: -36px;
    }
    .slick-next {
       right: -36px;
    }
}

/* --Services tabs section-- */
.c-appointment {
    margin: auto -50% auto 0;
    width: calc(100% + 50%);
    z-index: 10;
    position: relative;
    background: white;
    padding: 48px 50px;
    text-align: left; 
    display: flex;
    flex-direction: column; 

    @media (max-width: 960px){
        width: 100%;
        margin: 0;

        .o-layout__item{
            padding-left: 0 !important;
        }

    }

    @media (max-width: 600px){
       padding: 48px 10px;
    }
}
/* Services tabs section | Odd section id */
.c-appointment-reverse {

    .c-appointment {
        width: calc(100% + 50%);
        z-index: 10;
        position: relative;
        background: white;
        padding: 48px 50px;
        text-align: left;  
        margin: auto 0 auto -50%;

        @media (max-width: 960px){
            width: 100%;
            margin: 0; 

            .o-layout__item{
                padding-left: 0 !important;
            }
            }
        @media (max-width: 600px){
           padding: 48px 10px;
        }
    }
}
/* -- Section Image-- */
.c-appointment-image {
    background-size: cover !important;
    width: 750px !important;
    height: 750px;

    @media (max-width: 960px){
      display: none !important;
    }
}
.c-appointment-section {
    margin-bottom: 100px;

    @media (max-width: 960px){
       margin-bottom: 50px !important;
    }
    @media (max-width: 720px){
       margin-bottom: 25px !important;
    }
}
/* Section titles */
.c-appointment-titles {
    background-color: $bgOne;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.26px;
    line-height: 14px;
    padding: 16px 24px;
    color: black;
}

/* --About,career: section-- */
.c-section{
  text-align: center;

  &.-career {
    padding-top: 114px;
    padding-bottom: 114px;

  } 
  &.-cv {
    padding-top: 114px;
    padding-bottom: 64px;


  }
  &.-cv-main {
    background-color: $bgOne;
    padding-bottom: 114px;
  }

 }

.c-section-contact{

  &.-content {
    margin: 0;
    @include section-padding;
    background: $bgOne;
  }

 }
/* --About page: team accordion-- */

.c-accordion_title {
    text-align: center;
    @include section-padding-bottom;
}
.c-accordion {
    list-style-type: none;
    margin-left: 0;

    li {
        cursor: pointer; 
    }
}

.c-accordion_hide {
    display: none;
}

.c-accordion_clickable {
    position: relative;
}
/* accordion row arrow */
.c-accordion_arrow {
    position: relative;
    width: 28px;
    height: 28px;
    position: absolute;
    right: 24px;
    top: calc(5% - 1px);
    transition: transform 0.15s linear;
}
/* accordion row arrow animation */
.c-accordion_arrow_active {
    .c-accordion_arrow {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);

    }
}

/* --Services page: navigation menu-- */
.slick-prev:before, .slick-next:before {
    color: black !important;
}


.c-our-services{
        //@include section-margin;
        .c-our-services_navigation {
          margin: 0;
          border-radius: 15px;
          position: relative;
          display: flex;
          -webkit-box-align: left;
          -ms-flex-align: left;
          align-items: left;
          width: auto;
          padding: 80px 0;
          margin-left: -24px;

          .c-our-services_ul {
            width: 100%;            
            margin-bottom: 0;
            list-style-type: none;
            margin-left: 0;

            .slick-prev {
               left: 2px;
            }
            .slick-next {
               right: -23px;
            }

            .slick-slide {
                padding-left: 24px;
                position: relative;

                            /* Services icons sprite's position */
                            &:nth-child(1) .o-layout__item  {
                                &:before {
                                    background-position: -220px 0;
                                }
                            }

                            &:nth-child(2) .o-layout__item {
                                &:before {
                                    background-position: -296px 0;
                                }
                            }

                            &:nth-child(3) .o-layout__item {
                                &:before {
                                    background-position: -362px 0;
                                }
                            }
                            &:nth-child(4) .o-layout__item {
                                &:before {
                                    background-position: -423px 0;
                                }
                            }

                              /* Change Services icons color on Hover */

                              &:nth-child(1) .o-layout__item:hover {
                                &:before {
                                    background-position: -915px 0;
                                }
                            }

                            &:nth-child(2) .o-layout__item:hover {
                                &:before {
                                    background-position: -991px 0;
                                }
                            }

                            &:nth-child(3) .o-layout__item:hover {
                                &:before {
                                    background-position: -1057px 0;
                                }
                            }
                            &:nth-child(4) .o-layout__item:hover {
                                &:before {
                                    background-position: -1118px 0;
                                }
                            }
                            
                        }

                        .-appt {
                            display: flex !important;
                        }

                        li {
                     /* Services icons*/
                     &.o-layout__item:before  {
                        position: absolute;
                        content: "";
                        width: 61px;
                        height: 59px;
                        background: $icons_sprite;
                        left: 40px;
                        top: 50px;  
                         }
                    display: inline-block;
                    position: relative;

                      /* Services cards changes color with shadow on Hover */
                      &:hover {
                        & .c-card {
                         background-color: $bgThree;
                         -webkit-box-shadow: 0px 8px 22px 2px rgba(140,140,140,1);
                         -moz-box-shadow: 0px 8px 22px 2px rgba(140,140,140,1);
                         box-shadow: 0px 8px 22px 2px rgba(140,140,140,1);
                     }

                     ul li a,h3 {
                        color: white;
                    }
                        // Changes arrow color
                        .c-btn--primary:after {
                            background-position: -1185px -24px;
                        } 
                    } 

                    ul {
                        margin-left: 0;

                        li {
                            position: relative;
                            width: 100%;
                            a {
                                position: relative;

                            }
                        }
                    }
                     /* Contains service content */
                     .c-card {
                        background-color: $bgOne;
                        padding: 60px 38px;
                        padding-top: 150px;
                        padding-bottom: 30px;
                        border-radius: 6px;  
                        .c-card_link {
                            position: static;
                        }                    
                    }
                    .c-card_link {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        .c-card_link {
                            position: static;
                        }
                    }

                    a {
                        text-decoration: none;
                        color: $ftTwo;
                        text-transform: uppercase;
                    }
                    &:last-child {
                       margin-right: 0px;
                   }
                   img {
                    padding-bottom: 40px !important;
                    }

            }

        }

        .c-home-services_ul{
            width: 100%;            
            margin-bottom: 0;
            list-style-type: none;
            margin-left: 0;


            @media (min-width: 320px){
                margin-top: 24px;
            } 
            @media (min-width: 400px){
                margin-top: 29px;
            }
            @media (min-width: 480px){
                margin-top: 34px;
            }
            @media (min-width: 600px){
                margin-top: 39px;
            }
            @media (min-width: 720px){
                margin-top: 44px;
            }
            @media (min-width: 840px){
                margin-top: -250px;
            }

            li {
                //padding-left: 24px;
                position: relative;

                            /* Services icons sprite's position */
                            &:nth-child(1).o-layout__item  {
                                &:before {
                                    background-position: -220px 0;
                                }
                            }

                            &:nth-child(2).o-layout__item {
                                &:before {
                                    background-position: -296px 0;
                                }
                            }

  
                            &:nth-child(3).o-layout__item {
                                &:before {
                                    background-position: -423px 0;
                                }
                            }

                              /* Change Services icons color on Hover */

                              &:nth-child(1).o-layout__item:hover {
                                &:before {
                                    background-position: -915px 0;
                                }
                            }

                            &:nth-child(2).o-layout__item:hover {
                                &:before {
                                    background-position: -991px 0;
                                }
                            }

                            &:nth-child(3).o-layout__item:hover {
                                &:before {
                                    background-position: -1118px 0;
                                }
                            }
                            
                        }

                        .-appt {
                            display: flex !important;
                        }

                        li {
                     /* Services icons*/
                     &.o-layout__item:before  {
                        position: absolute;
                        content: "";
                        width: 61px;
                        height: 59px;
                        background: $icons_sprite;
                        left: 62px;
                        top: 50px;  
                         }
                    display: inline-block;
                    position: relative;

                      /* Services cards changes color with shadow on Hover */
                      &:hover {
                        & .c-card {
                         background-color: $bgThree;
                         -webkit-box-shadow: 0px 8px 22px 2px rgba(140,140,140,1);
                         -moz-box-shadow: 0px 8px 22px 2px rgba(140,140,140,1);
                         box-shadow: 0px 8px 22px 2px rgba(140,140,140,1);
                     }

                     ul li a,h3 {
                        color: white;
                    }
                        // Changes arrow color
                        .c-btn--primary:after {
                            background-position: -1185px -24px;
                        } 
                    } 

                    ul {
                        margin-left: 0;

                        li {
                            position: relative;
                            width: 100%;
                            a {
                                position: relative;

                            }
                        }
                    }
                     /* Contains service content */
                     .c-card {
                        background-color: $bgOne;
                        padding: 60px 38px;
                        padding-top: 150px;
                        padding-bottom: 30px;
                        margin-bottom: 24px;
                        border-radius: 6px;
                        border: 1px solid #4889FB;
                        .c-card_link {
                            position: static;
                        }                    
                    }
                    .c-card_link {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        .c-card_link {
                            position: static;
                        }
                    }

                    a {
                        text-decoration: none;
                        color: $ftTwo;
                        text-transform: uppercase;
                    }
                    &:last-child {
                       margin-right: 0px;
                   }
                   img {
                    padding-bottom: 40px !important;
                    }

            }

        }
    }
}
 /* Adds Tabs for appointment titles list at lowRes */
// #mobile-tabs {

//     @media (max-width: 960px){
//         width: 70% !important;
//     }
// }

.c-flex {
    display: flex !important;
}

 /* --Tabs style-- */
.ui-widget-header {     
    background-color: $bgOne;
    font-size: 12px;
    letter-spacing: 0.26px;
    line-height: 14px;
    padding: 16px 24px;
    color: black; 
    border: none !important;
    background: none !important;
}
.ui-widget.ui-widget-content {
    border: none !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button {
    border: none !important;
    background:  $bgOne !important;
    font-weight: normal;
    
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active {
     background:  $bgThree !important;
     color: black !important;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: 20px !important;
}
 /* ----Services page ending---- */


 /* --Career page; header contact information -- */
.c-career-information {

    &.o-list-inline__flex  {
        padding: 90px 0 0 !important;
    }

    li {
        position: relative;

        figure {
            position: relative;
            background-color: $bgOne;
            border-radius: 6px;
            padding: 36px 39px 32px 15px;
            height: 100%;
        }

        p {
            margin-bottom: 0 !important;
            text-align: left;
            padding-left: 65px;
            font-size: 14px;
            letter-spacing: 1px;
            line-height: 26px;
        }
    
        &:before {
            position: absolute;
            content: "";
            width: 44px;
            height: 43px;
            background: $icons_sprite;
            top: 44px;
            left: 47px;
            z-index: 99;
        }

        &.c-career-information_phone {
             &:before {
                background-position: -490px -10px;
             }
        }

        &.c-career-information_fax{
             &:before {
                background-position: -546px -8px;
             }
        }


        &.c-career-information_adress {
             &:before {
                background-position: -605px -9px;
             }
        }

    }
}

/* --Career page; application form-- */
form {
    input[type="text"],input[type="email"],input[type="tel"],textarea,.c-file-upload {
        width: 100%;
        border: 1px solid #2A2A2A;
        padding: 10px;
        margin-bottom: 16px;
        font-family: $ftFamilyZero;
    }
    input[type="text"],input[type="email"],input[type="tel"],.c-file-upload {
        height: 56px
    }
    input[type="submit"] {
        &:hover {
            //background-color: $bgThree;
            -webkit-box-shadow: 0px 8px 22px 3px rgba(140,140,140,1);
            -moz-box-shadow: 0px 8px 22px 3px rgba(140,140,140,1);
            box-shadow: 0px 8px 22px 3px rgba(140,140,140,1);
        }
        height: 50px;
        width: 128px;
        background-color: black;
        float: right;
        color: white;

        p {
          
            font-size: 20px;
        }
    }
    button, input {
        font-family: $ftFamilyZero;
        font-size: 20px;
        line-height: 1.15;
        margin: 0;
    }

.c-file-upload {
        font-style: italic;

        .c-file-select {
            display: block;
            cursor: pointer;
            text-align: left;
            overflow: hidden;
            position: relative;

            &.c-file-select-disabled {
                opacity: 0.65;  

                &:hover {
                    cursor: default;
                    display: block;
                    border: 2px solid #dce4ec;
                    color: #34495e;
                    cursor: pointer;
                    height: 40px;
                    line-height: 40px;
                    margin-top: 5px;
                    text-align: left;
                    background: #ffffff;
                    overflow: hidden;
                    position: relative;
                }
            }

            input[type="file"] {
                z-index: 100;
                cursor: pointer;
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                opacity: 0;
                filter: alpha(opacity=0);
            }


            .c-file-select-name {
                line-height: 34px;
                display: inline-block;
            }

            .c-file-select-button {
                display: inline-block;
                line-height: 60px;
                float: right;
                height: 22px;
                top: 0;
                margin-top: -9px;
                padding-right: 16px;
            }
        }
    }
}
/* --Form: Green alert bar on submit-- */
.alert {
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    max-width: 716px;
    widows: 100%;
    margin: auto;
    display: none; 
}
// Alert bar X button
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: black;
}

/* -- ContactUs page; Contact informations box: adress, phone, fax, email, business hours -- */
.c-contact {
    display: flex;

    ul {
            padding: 64px;
            position: relative;
            background: white;
            display: flex;
            flex-direction: column;
            margin: auto 0 auto -144px !important;
            width: calc(100% + 144px);

         li {
          
                 padding-bottom: 24px;

            p {
                line-height: 28px !important;
                margin-bottom: 0 !important;
            }
         }
    }
}
.c-contact-information {
    li {
        position: relative;
        padding-left: 40px;
         /* --contact icons-- */
        &:before {
            position: absolute;
            content: "";
            width: 27px;
            height: 32px;
            background: $icons_sprite;
            left: 0;
            top: 8px;
        }
        
        &.c-contact-information_adress {
             &:before {
                background-position: -649px -14px;
             }
        }
        &.c-contact-information_phone {
             &:before {
                background-position: -687px -18px;
             }
        }
         &.c-contact-information_email {
             &:before {
                background-position: -729px -20px;
             }
        }
        &.c-contact-information_hours {
             &:before {
                background-position: -771px -17px;
             }
        }
    }
}
 /* --ContactUs page; contact informations style-- */
.o-wrapper.-contactInfo {
    display: none;
    @media (max-width: 1280px){
        display: block;
    }

    ul {
        background-color: white;
        width: 380px;
        margin-top: 40px;
        padding: 40px;

        li {
            p {
                line-height: 28px !important;
                margin-bottom: 0 !important;
            }
                padding-bottom: 24px;
        }
    }
}
/* --ContactUs page; contact informations for highRes-- */
#desktop-contactInfo {
            @media (max-width: 1280px){
        display: none;
    }
 }

/* --ContactUs page; google map style-- */
#google-map {
    @media (min-width: 320px){
    height: 350px !important; 
    width: 100% !important;
    } 
    @media (min-width: 400px){
    height: 400px !important;
  
    }
    @media (min-width: 480px){
    height: 500px !important;
  
    }
    @media (min-width: 600px){
    height: 600px !important;

    }
    @media (min-width: 720px){
    height: 600px !important;
  
    }
    @media (min-width: 1078px){
    height: 660px !important;
    width: 830px !important;
   }
} 


body {

    overflow-x: hidden;
 }


.-bio {
    ul:first-child {
        margin-left: 0;
    }
}