/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes (see:
 * http://csswizardry.com/2016/02/managing-typography-on-large-apps/).
 */

// We have all of our heading font sizes defined here. Passing these pixel
// values into our `inuit-font-size()` mixin will generate a rem-based
// `font-size` with a pixel fallback, as well as generating a `line-height` that
// will sit on our baseline grid.

$inuit-font-size-h1:  64px !default;
$inuit-font-size-h2:  28px !default;
$inuit-font-size-h3:  24px !default;
$inuit-font-size-h4:  20px !default;
$inuit-font-size-h5:  18px !default;
$inuit-font-size-h6:  16px !default;

h1,h2,h3,h4 {
    font-weight: 400;
}

h1, .c-banner-title_content {
    @media (min-width: 320px){
       font-size: 32px;
    } 
    @media (min-width: 400px){
       font-size: 36px;
    }
   @media (min-width: 480px){
       font-size: 40px;
    }
    @media (min-width: 600px){
       font-size: 44px;
    }
    @media (min-width: 720px){
       font-size: 48px;
    }
    @media (min-width: 840px){
       font-size: 52px;
    }
    @media (min-width: 960px){
       font-size: 56px;
    }
    @media (min-width: 1024px){
       font-size: 60px;
    }
    @media (min-width: 1280px){
        font-size: 64px;
    }

    color: $ftZero;
    font-size: 64px;
    letter-spacing: 0.27px;
    letter-spacing: 0.004em;
    line-height: 76px;
    line-height: 1.188em;
}

h2 {
    @media (min-width: 320px){
       font-size: 26px;
    } 
    @media (min-width: 400px){
       font-size: 27px;
    }
   @media (min-width: 480px){
       font-size: 29px;
    }
    @media (min-width: 600px){
       font-size: 30px;
    }
    @media (min-width: 720px){
       font-size: 31px;
    }
    @media (min-width: 840px){
       font-size: 32px;
    }
    @media (min-width: 960px){
       font-size: 34px;
    }
    @media (min-width: 1024px){
       font-size: 35px;
    }
    @media (min-width: 1280px){
        font-size: 36px;
    }

    color: black;
    letter-spacing: 0.15px;
    letter-spacing: 0.004em;
    line-height: 52px;
    line-height: 1.444em;
}

h3 {
    @media (min-width: 320px){
       font-size: 22px !important;
    } 
    @media (min-width: 400px){
       font-size: 23px !important;
    }
   @media (min-width: 480px){
       font-size: 24px !important;
    }
    @media (min-width: 600px){
       font-size: 25px !important;
    }
    @media (min-width: 720px){
       font-size: 26px !important;
    }
    @media (min-width: 840px){
       font-size: 27px !important;
    }
    @media (min-width: 960px){
       font-size: 28px !important;
    }
    @media (min-width: 1024px){
       font-size: 29px !important;
    }
    @media (min-width: 1280px){
        font-size: 30px !important;
    }

    color: $ftOne;
    letter-spacing: 0.83px;
    letter-spacing: 0.028em;
    line-height: 115px;
    line-height: 3.833em;
}

h4 {
    color: black;
    font-size: 18px;
    letter-spacing: auto;
    line-height: 30px;
    line-height: 1.667em;
}

.c-accordion {
  h3 {
    color: black;
    font-size: 30px;
    letter-spacing: 0.49px;
    line-height: 28px;
    padding-right: 86px;
  }
}


.c-second-menu p {
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0.3px;
  line-height: 17px;
  font-weight: 400; 
}

.o-page-type-home{

  .c-services {

        h3 {
        text-transform: uppercase;
        color: $ftOne !important;
        font-size: 18px !important;
        letter-spacing: 0.39px !important;
        letter-spacing: 0.022em !important;
        line-height: 30px !important;
        line-height: 1.667em !important;
    }


  }

}

.c-our-services {
  h3 {
        text-transform: uppercase;
        color: $ftOne;
        font-size: 18px !important;
        letter-spacing: 0.39px;
        letter-spacing: 0.022em;
        line-height: 30px;
        line-height: 1.667em;
        max-width: 134px
    }

}

.c-footer_tips {

    p {
        color: $ftZero;
        font-size: 18px;
        letter-spacing: 0.39px;
        letter-spacing: 0.022em;
        line-height: 28px;
        line-height: 1.667em; // fix
        margin-bottom: 0;

    }

}

.c-footer_contact {

    p {
          font-size: 14px;
          color: black;
          letter-spacing: auto;
          line-height: 28px;
          line-height: 1.667em; // fix
          font-weight: 400; 
          margin-bottom: 0;
    }
}

.c-footer_links {

    white-space: nowrap;

    li { 
        margin-right: 16px;
    }
    p {
      font-size: 14px;
      color: black;
      letter-spacing: auto;
      line-height: 28px;
      line-height: 1.667em; // fix
      font-weight: 400; 
      width:  auto;
    }
    
     a {
        width: 100%;
        text-decoration: none;
        color: black; }

}

footer h3{
      @media (max-width: 320px){
       font-size: 26px !important;
    } 
    @media (min-width: 320px){
       font-size: 26px !important;
    } 
    @media (min-width: 400px){
       font-size: 30px !important;
    }
   @media (min-width: 480px){
       font-size: 34px !important;
    }
    @media (min-width: 600px){
       font-size: 37px !important;
    }
    @media (min-width: 720px){
       font-size: 40px !important;
    }
    @media (min-width: 840px){
       font-size: 43px !important;
    }
    @media (min-width: 960px){
       font-size: 46px !important;
    }
    @media (min-width: 1024px){
       font-size: 49px !important;
    }
    @media (min-width: 1280px){
        font-size: 52px !important;
    }


    color: $ftZero !important;
    font-size: 52px !important;
    letter-spacing: 0.22px;
    letter-spacing: 0.004em; // fix 
    line-height: 52px;
    line-height: 1.188em;
    text-transform: none;
    margin-bottom: 16px;
}
