{% extends '_layouts/site' %}

{# testing website commit #}
{# DECLARATION #}
{% set classType=""%}

{# ASIGNATION #}

{# CODE #}
{% block content %}


<body>  

    <main>
        {# History section: title and text #} 
        <section class="c-section -content -aboutHeader" id="sectionsBio">
            <div class="o-wrapper -sections">

                <h2>{{entry.aboutContentTitle|nl2br}}</h2>
                {{entry.aboutContentText}}
            </div>
        </section >
        {# Biography section: title,text and background image #} 
        <section class="c-section -content -bio" id="sectionsBio">
            <div class="o-wrapper">
                <div class="o-layout o-layout--equal-height">

                    <div class="o-layout__item u-2/5" id="mobile-sectionBio">
                        <div class="c-bio" id="mobile-sectionBioDiv">
                            <h2>{{entry.aboutBiographyTitle|nl2br}}</h2>
                                {{entry.aboutBiographyText}}</div></div>

                        <div class="c-bio-image o-layout__item u-3/5" style="background-image: url('{{entry.aboutBiographyImage.one.url() }}');">   </div>
                    </div>
                </div>
        </section >
      <!--   Team section: title and Accordion filled with professionals  -->
        <section id="sectionsBio">
            <div class="o-wrapper">

                <h2 class="c-accordion_title">{{'Our team'|t}}</h2>

                <ul class="c-accordion">
                    {% for tab in entry.aboutTeam.all() %}
                    {% set title    = tab.professionTitle%}
                    {% set content  = tab.professionList%}

                    <li>
                        <div class="c-accordion_clickable"> 
                            <h3>{{title}}</h3>
                            <hr>
                  
                        <!--  <div class="c-accordion_arrow"> <img src="assets/images/icons/left-arrow.svg" alt="arrow"> </div> -->
                          <div class="c-accordion_arrow"> 
                                <svg width="23px" height="23px" viewBox="0 0 23 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
                                    <title>left-arrow copy 2</title>
                                    <desc>Created with Sketch.</desc>
                                    <defs></defs>
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="A-PROPOS" transform="translate(-1216.000000, -2660.000000)" fill="#399CC3" fill-rule="nonzero">
                                            <g id="left-arrow-copy-2" transform="translate(1228.000000, 2671.500000) rotate(-180.000000) translate(-1228.000000, -2671.500000) translate(1216.000000, 2660.000000)">
                                                <path d="M11.273,1.009 C11.717,0.565 12.416,0.565 12.86,1.009 C13.289,1.438 13.289,2.152 12.86,2.58 L4.813,10.627 L22.1811523,10.627 C22.8001523,10.627 23.3081523,11.119 23.3081523,11.738 C23.3081523,12.357 22.8001523,12.865 22.1811523,12.865 L4.813,12.865 L12.86,20.897 C13.289,21.341 13.289,22.056 12.86,22.484 C12.416,22.928 11.717,22.928 11.273,22.484 L1.321,12.532 C0.892,12.103 0.892,11.389 1.321,10.961 L11.273,1.009 Z" id="Shape"></path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                          </div>
                        </div>

                        <div class="c-accordion_hide">

                            <div class="c-content">
                              {{content}}
                            </div>

                        </div>

                    </li>
                    {% endfor %}
                </ul>

            </div>
        </section>


        </main>


    </body>
           
    {% endblock  %}

