{% extends '_layouts/site' %}

{# DECLARATION #}
{% set classType=""%}
{% set classTitle=""%}

{# ASIGNATION #}

{# CODE #}
{% block content %}


<main>
    {# Navigation menu for appointments #} 
    <div class='c-our-services'>
        <div class="o-wrapper">
            <nav class="c-our-services_navigation">    
                    <ul class='c-our-services_ul o-layout o-layout--flush o-layout--auto '>
                        {% for service in entry.servicesMenu.all() %}

                        <li class='o-layout__item '>
                           <a class="c-card_link" href="{{service.serviceLink}}">
                            <div class="c-card">
                             


                                <h3 class="c-services-h3" >{{ service.appointmentType.label|nl2br|t }}</h3>
                                <ul>
                                    <li>
                                         <a class="c-btn--primary" href="{{service.serviceLink}}"> {{'Learn more'|t}} </a>
                                         
                                    </li>
                                </ul>
                              
                             
                            </div>
                              </a>
                            
                             
                        </li> 


                        {% endfor %}
                    </ul>
            </nav>
             </div>
    </div>
  
    {# Appointments section: Background image, title, Tabs of appointments information #} 
    <section class="c-section -content -bio">
        <div class="o-wrapper">
         <ul>
          {% set count = 0 %}
            {% for appt in entry.apptMatrix.all() %}
            {% if loop.index is divisible by(2) %}

            <div class="o-layout o-layout--flush o-layout--equal-height c-appointment-section" id="mobile-tabs">

                {% else %}
                <div class="o-layout o-layout--flush o-layout--services o-layout--equal-height o-layout--reverse c-appointment-section c-appointment-reverse" id="mobile-tabs">
                    {% endif %}

                    <li class="o-layout__item u-2/5@landscape-small-tablet c-flex" id="appt-{{loop.index}}"> 

                        <div class="c-appointment">

                           <h2 style="padding-left: 3%;">{{appt.appt_title|nl2br}}</h2>

                           <div id="tabs-main-{{count}}">
                               <ul class="c-tabs-titles" >
                                 {% for content in appt.appt_content %}
                                 <li><a href="#tabs-{{count}}-{{loop.index}}">{{content.apptContentTitle}}</a></li>

                             {% endfor %}  </ul> 
                             {% for content in appt.appt_content %}
                             <div id="tabs-{{count}}-{{loop.index}}">
                               {{content.apptContent}}
                           </div>


                           {% endfor %}

                       </div>

                   </div>

               </li> 
               <div class="c-appointment-image o-layout__item u-3/5" style="background-image: url('{{appt.appt_image.one.url() }}');">   </div>
           </div>
{% set count = count + 1 %}
           {% endfor %}
       </ul>

   </div>
</section >

</main>



      
{% endblock  %}

